div#Titulo {
  background-color: #08b7f1;
  padding: 20px;
  border: 2px solid navy;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body {
   background-color: lightblue;
}
div.Titulo2 {
  background-color: lavender;
  padding: 20px;
  border: 2px solid #036;
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.artistas {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.artista {
    text-align: center;
}
.artista img {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 5px #333;
}